:root {
    --bg-lightblue: #92cccd;
    --color-dark-blue: #31343d;
    --body-color: #445877;
    --zero: 0;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--body-color);
    line-height: 1.5;
}

h1 {
    margin-bottom: var(--zero);
    font-family: 'Raleway', sans-serif;
    color: var(--color-dark-blue);
    text-transform: uppercase;
    font-size: 2rem;
}
.container-fluid.nav {
    padding-left: var(--zero);
}

/* Navigation bar */

/* General */
.navbar {
    padding: 10px var(--zero);
}
.customNav {
    background-color: var(--color-dark-blue) !important;
}
.navbar-brand {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 400px;
    background-color: var(--bg-lightblue);
    padding: 10px 15px 10px 0;
}
.navbar-nav .nav-link {
    font-size: 18px;
    color: var(--bg-lightblue);
    padding: 0 0 3px 0 !important;
    border-bottom: 3px solid var(--bg-lightblue);
}
.navbar-nav .nav-link:hover {
    opacity: 70%;
}
.nav-item {
    padding-left: 10px;
}
.hero-banner {
    display: flex;
    justify-content: end;
    align-items: end;
    background-image: url(../images/02-hero-bg.jpg);
    height: 230px;
    padding: 20px;
}
.hero-subtitle {
    align-items: center;
    background-color: var(--bg-lightblue);
    color: var(--color-dark-blue);
    padding: 0 10px 0 10px;
}
.hero-subtitle h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: var(--zero);
    padding: 5px;
}
.section-border {
    border-right: 3px solid #5d6f83;
    padding-right: 20px;
}
.section-title span {
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
}
.about-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.card .card-img-top {
    height: 300px;
    object-fit: cover;
    object-position: var(--zero) 0;
}

